@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@import url("../fonts/style.css");


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer superlinefont {
  @font-face {
    font-family: 'Superline';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/Superline-Line.ttf) format('truetype');
  }
}
@layer neue {
  @font-face {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/NeueMontreal-Regular.otf) format('opentype');
  }
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

